# VSCode Workspace Settings
.vscode

# ENV file
.env

# Project place file
/OpenSB.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Build directories
/out
/build

# Rojo sourcemap
sourcemap.json

# Custom config file
.config.toml